@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root{
  /* dark theme variables */
  --primary-color: #E6AD3C;
  --secondary-color: #1E1E1E;
  --tertiary-color:white;
  --background-color: black;
}

.light{
  /* light theme variables */
  --primary-color: #1E1E1E;
  --secondary-color: #E6AD3C;
  --tertiary-color:black;
  --background-color: white;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
  position: fixed; /* Makes the navbar fixed on the top */
  top: 0; /* Ensures it stays at the top */
  width: 100%; /* Stretches the navbar across the width */
  z-index: 2;
  flex-wrap: wrap;

  /* z-index: 2; */
}
.navbar .name{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
  padding-left: 2em; 
}
.navbar .list{
  
  padding-right: 2em;
}

.navbar .list a {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tertiary-color);
  padding: 1em;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for both transform and color */
  position: relative; /* Ensure proper positioning for z-index */
}

.navbar .list a:hover {
  color: var(--primary-color); /* Change text color on hover */
  cursor: pointer;
  transform: scale(2) translateY(-5px); /* Grow and move up */
  z-index: 2; /* Ensure the hovered item appears on top */
}


.navbar .list i{
  font-size: 1.5rem;
  color: var(--tertiary-color);
  padding: 1em;
}
.navbar .list i:hover{
  color: var(--primary-color);
  cursor: pointer;
  
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  
  
}

.home .tagline{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

.animation .aboutimagecontainer img{
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* State when the 'active' class is added */
.animation.active .aboutimagecontainer img {
  opacity: 1;
  transform: translateX(0); /* Brings the element back to its original position */
}
.animation .aboutcontent{
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* State when the 'active' class is added */
.animation.active .aboutcontent {
  opacity: 1;
  transform: translateX(0); /* Brings the element back to its original position */
}






.home .tagline .dynamictext ul li
{
  /* overflow: hidden; */
  /* list-style: none; */
  font-size: 1.5rem;
  font-weight: 150;
  margin-bottom: 1em;
  color: var(--tertiary-color);
}
.home .tagline .dynamictext ul li span{
  font-size: 1.2em;
  font-weight: 600;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
  /* overflow: hidden; */
}

.home .tagline .dynamictext  li span::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border-left: 2px solid var(--primary-color);
  animation: typing 2s steps(20) infinite;
}

.home .tagline h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.home .tagline h1 span{
  color: var(--tertiary-color);
  font-size: 3rem;
  font-weight: 700;
}


@keyframes typing{
  0%{
    width: 0;
  }
  10%{
    width: 10%;
  }
  20%{
    width: 20%;
  }
  30%{
    width: 30%;
  }
  40%{
    width: 40%;
  }

  50%{
    width: 50%;
  }
  60%{
    width: 40%;
  }
  70%{
    width: 30%;
  }
  80%{
    width: 20%;
  }
  90%{
    width: 10%;
  }
  100%{
    left: 100%;
    margin: auto;
    width: 0%;
  }
}


.home .imagecontainer{
  aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
  height: auto;
  width: 50%; 
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .imagecontainer img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
  transition: .3s ease-in-out; /* Smooth transition */
}

.home .imagecontainer img:hover{
  transform: scale(1.1);
  box-shadow: 0em 0em 2.8em var(--primary-color); /* Adds a subtle shadow */
  cursor:help;
  
}
.home .tagline .socialcontainer{
  margin-top: 1.5em;
  margin-left: .1em;
}
.home .tagline .socialcontainer a{
  text-decoration: none;
  padding: 1em;
}

.home .tagline .socialcontainer a i{
  font-size: 1.2rem;
  color: var(--primary-color);
  padding: 1em;
  transition: 0.5s ease-in-out;
  /* box-sizing: content-box; */
  border-radius: 50%;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
}
.home .tagline .socialcontainer a i:hover{
  transform: scale(1.5);
  box-shadow: 0em 0em 0em var(--primary-color); /* Adds a subtle shadow */
  cursor:help;
}


.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 4em;
  margin-top: -1em;
  
}

.about .aboutimagecontainer{
  padding-left: 4em;
  aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
  height: auto;
  width: 50%; 
  transition: 0.3s ease-in-out;
  
}



.about .aboutimagecontainer img{
  margin-top: 4em;
  height: 80%;
  width: 50%;
  object-fit: cover;
  border-radius: 2em;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
  transition: .3s ease-in-out; /* Smooth transition */
}

.about .aboutcontent{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .aboutcontent h1{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.about .aboutcontent p{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  color: var(--tertiary-color);
  
}
/* Education Section */

.education{
  /* font-size: 1.5em;
  font-weight: 400; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}
.education h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.education .educationcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
  padding: 2em;

}

.education .educationcontainer .box{
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  
}

.education .educationcontainer .box h2{
  font-size: 1.5rem;
  font-weight: 600;
  
  color: var(--tertiary-color);
}
.education .educationcontainer .box span{
  color:var(--tertiary-color);
  font-size: 1rem;

}
.animation .educationcontainer .box{
  opacity: 0;
  transform: translateY(100%);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
.animation.active .educationcontainer .box {
  opacity: 1;
  transform: translateY(0); /* Brings the element back to its original position */
}

.education .educationcontainer .box:hover {
  transform: translateY(-0.5em);
  box-shadow: 0em 0em 2em var(--primary-color); /* Increase the shadow size and change color for the uplift effect */
}
/* Skills Section */

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}
.skills h1{
  font-size: 3rem;
  font-weight: 600;
  /* margin-bottom: 1em; */
}
.skills .skills_subtitle{
  font-size: 1.5rem;
  font-weight: 300;
  /* margin-bottom: 1em; */
  color: var(--tertiary-color);

}
.skills .skillscontainer{
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
  padding: 2em;
  /* overflow-x: hidden; */

}
.skills .skillscontainer .box .boxhead{
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  position: relative;
  display: inline-block;
  width: 80%;
}
.skills .skillscontainer .box .boxhead:hover{
  transform: translateY(-0.5em);
  box-shadow: 0em 0em 2em var(--primary-color); /* Increase the shadow size and change color for the uplift effect */
}
.skills .skillscontainer .box .skillsbar{
  display: none;
  position: absolute;
}
.skills .skillscontainer .box .clicked {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  position: relative;
  display: block;
  width: 80%;
  
  
}
.skills .skillscontainer .box .clicked .list{
  /* background-color: var(--primary-color) ; */
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.skills .skillscontainer .box .clicked .list i{
  font-size: 2rem;
  color: var(--tertiary-color);
  padding: .2em;
  transition: 0.5s ease-in-out;
}
.skills .skillscontainer .box .clicked .list i:hover{
  color: var(--primary-color);
  cursor:help;
  transform: translateY(-0.5em);
}


.skills .skillscontainer .box .title{
  display: flex;
  flex-direction: row;
  justify-content: wrap;
  align-items: center;
  gap: 1em;
  font-size: 1.5rem;
}











@media (max-width: 768px) {
  .navbar {
    padding: 1em; /* Reduce padding */
  }

  .navbar .name {
    font-size: 1.5rem; /* Reduce font size */
    padding-left: 1em; /* Adjust padding to fit smaller screens */
  }

  .navbar .list a, .navbar .list i {
    font-size: 1.2rem; /* Reduce font size for links and icons */
    padding: 0.5em; /* Reduce padding around the items */
  }
  .home .tagline h1{
    font-size: 1.5rem;
  }
  .home .tagline p{
    font-size: 1rem;
  }
  .home .tagline .socialcontainer{
    margin-top: 1em;

  }
  .home .tagline .socialcontainer a{
    /* font-size: 1rem; */
    padding:.5em
  }
  .home .tagline .socialcontainer a i{
    font-size: .8rem;
    padding:.5em
  }

  /* about section */
  .about{
    padding: 2em;
  }
  .about .aboutimagecontainer{
    padding-left: 2em;
  }
  .about .aboutimagecontainer img{
    height: 50%;
    width: 50%;
  }
  .about .aboutcontent h1{
    font-size: 2rem;
  }
  .about .aboutcontent p{
    font-size: 1rem;
  }


}

/* Adjustments for mobile screens (480px and below) */
@media (max-width: 480px) {
  .navbar {
    padding: 0.5em; /* Further reduce padding for very small screens */
  }

  .navbar .name {
    font-size: 1.2rem; /* Further reduce font size */
    padding-left: 0.5em;
  }

  .navbar .list a, .navbar .list i {
    font-size: 1rem; /* Reduce font size to fit mobile screens */
    padding: 0.3em; /* Reduce padding further */
  }
  .home .tagline h1{
    font-size: 1rem;
  }
  .home .tagline p{
    font-size: .75rem;
  }

  .home .tagline .socialcontainer{
    margin-top: .8em;

  }
  .home .tagline .socialcontainer a{
    /* font-size: 1rem; */
    padding:.4em
  }
  .home .tagline .socialcontainer a i{
    font-size: .6rem;
    padding:.2em
  }
  /* About Section */

  .about{
    padding: 1em;
  }
  .about .aboutimagecontainer{
    padding-left: 1em;
  }
  .about .aboutimagecontainer img{
    height: 40%;
    width: 40%;
  }
  .about .aboutcontent h1{
    font-size: 1.5rem;
  }
  .about .aboutcontent p{
    font-size: .75rem;
  }

}
