@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}
body{
  background:url('Bg-image.jpg') center no-repeat; 
  background-size: cover;

}

.main_box{
  position: relative;
  /* background:url('Bg-image.jpg') center no-repeat; 
  background-size: cover;   */
  /* object-fit: cover; */

  height: 100vh;
  width: 100%;
}

.main_box .sidebar_menu{
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  /* background: #11101d; */
  background: rgba(255,255,255,.1);
  box-shadow: 0 0 6px rgba(255,255,255,.1);
  transition: all 0.5s;
}

